* {
    margin: 0;
    padding: 0
}

#page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1920px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1080px, 1fr));
    height: 5600px
}

header {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

